mixin notification(cls='is-info')
    div(class=`notification ${cls} is-textAlign-center py-6`)
        button(class="delete")
        if block
            block
        else
            i -
    script(type="text/javascript").
      lobRoot(notification => {
        notification.querySelector('button')
          .addEventListener('click', () => notification.remove());
      });

