include ../../components/notification

+notification('is-success')
    .title ...
    script(type="text/javascript").
        const w = new WorHou();
        w.token = '#{token}';
        window.location.reload();


