include ../../components/shared/notification

+notification('is-success')
    if token
        .title Success!
    script(type="text/javascript").
        const w = new WorHou();
        w.token = '#{token}';
        window.location.reload();


