/*css customizations*/


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.line-sheet {
    border-bottom: 1px solid var(--bulma-border);
}

.line-sheet-odd {
    background-color: var(--bulma-background-active);
}
