extends ./layouts/main
include ./components/message

block content
    +message("Welcome","is-info",true)
        p.title ...
        p.subtitle ...
        p.logins.is-hidden
        | How about setup an account? it's free!!
        script(type="text/javascript").
          lobRoot(message => {
            const w = new WorHou(true);
            message.querySelector('p.title').innerText = `Hello, ${w.userName}!`;

            if (w.visits > 0) {
              message.querySelector('p.subtitle').innerText = "Welcome back!";
            } else {
              message.querySelector('p.subtitle').innerText = "Are you new Here?!";
            }
            w.incrementVisits();

            if (w.logins === 0) {
              message.querySelector('p.logins').classList.remove('is-hidden');
            }
          });
