extends ./layouts/main
include ./components/message

block content
    +message("Welcome","is-success")
        p.title ...
        p.subtitle ...
        -
            const base = process.env.BASE_URL;
        p.logins.is-hidden
        | How about to #[a(href=`${base}/profile`) setup an account]? it's free!!
        script(type="text/javascript").
          lobRoot(message => {
            const w = new WorHou();
            message.querySelector('p.title').innerText = `Hello, ${w.userName}!`;

            if (w.visits > 0) {
              message.querySelector('p.subtitle').innerText = "Welcome back!";
            } else {
              message.querySelector('p.subtitle').innerText = "Are you new Here?!";
            }
            w.incrementVisits();

            if (w.logins === 0) {
              message.querySelector('p.logins').classList.remove('is-hidden');
            }
          });
    +message("What is WorHou?","is-info")
        p #[b WorHou] is a #[i time logging] application.
        p It helps you to track time, build reports from it
        p and even share it across teams.
