mixin notification(cls='is-info')
    .notification.is-textAlign-center.py-6(class=cls)
        button.delete
        if block
            block
        else
            i -
    script(type="text/javascript").
      lobRoot(notification => {
        notification.querySelector('button')
          .addEventListener('click', () =>
            notification.remove());
      });

